---
---

@import "{{ site.theme }}";

.container-lg {
  max-width: 50rem;
  margin-bottom: 5rem !important;
  font-size: 125%;
  padding: 0 1.2rem !important;
  @media (max-width: 600px) {
    margin-top: 0.5rem !important;
  }
}

.markdown-body h1 {
  display: none;
}

.markdown-body h2 {
  border-bottom: none;
  font-weight: 900;
  font-size: 2.2rem;
  @media (max-width: 600px) {
    font-size: 2rem;
  }
}

img {
  margin: 25px auto;
}

.anchorjs-link {
  display: none;
}
